@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --main-color: #00ff6e;
  --main-color-dark: #00a84a;
  --main-color-light: #24ff8e;
  --main-color-transparent: rgba(0, 255, 110, 0.228);
  --background-color: #242424;
  --background-light: #404040;
}

body {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
  font-family: poppins, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  transition: all 0.2s ease;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

button {
  color: #242424;
}
